body {
    background-color: bisque;
}

img {
    display: block;
    width: 50%;
    border: double 5px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}

.quote {
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

span {
    font-weight: bold;
}

footer {
    margin-top: 50px;
}